CLIENT_ID=
CLIENT_SECRET=
TENANT_ID=
SESSION_SECRET_KEY=# generated using openssl rand -hex 32

ADMIN_EMAIL=
FRONTEND_URL=
BACKEND_URL=

MONGODB_USERNAME=
MONGODB_PASSWORD=
CLUSTER_NAME=
DATABASE_NAME=
APP_NAME=

SECRET_KEY=